[Unit]
Description=WeGetIt Service
After=network.target

[Service]
Type=simple

User=wegetit
Group=wegtit

WorkingDirectory=/opt/wegetit

ExecStart=/usr/bin/python3 /opt/wegetit/src/wegetit.py /var/wegetit/db.json
Restart=none

[Install]
WantedBy=multi-user.target
